torch==2.0.1
torchvision==0.15.2
webdataset==0.2.48
regex==2023.8.8
ftfy==6.1.1
tqdm==4.66.1
pandas==2.0.3
braceexpand==0.1.7
huggingface_hub==0.17.2
transformers==4.33.2
timm==0.9.7
fsspec==2023.9.1
